<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Problema 3</title>
    <link rel="stylesheet" href="../css/output.css">
</head>
<body>
    <header class=" p-4 text-center shadow-md mb-2" >
        <a href="../../index.html"><h1 class="text-3xl font-black  uppercase">
            Problema 3
        </h1></a>
    </header>
    <main class="container  mx-auto ">
        <h2 class="text-2xl font-black  uppercase"  >
            Fórmula
        </h2>
    
      
            <div class="flex flex-row content-center items-center justify-center">
                <math class="text-2xl" xmlns="http://www.w3.org/1998/Math/MathML">
                    <mfenced open="[" close="]" separators="    ">
                       
                        <mfrac>
                         <mi>dVc1</mi>
                         <mi>dt</mi>
                        </mfrac>
                        
                       </mfenced>
        
                    </mfenced>
                    <mo>=</mo>   
                    <mfenced id="ecuacion1" open="[" close="]" separators="    ">
                        <mo id="signo">-</mo>
                    <mfrac id="fraccion">
                        <mi id="mi">1</mi>
                        <mi id="RC">C1</mi>
                    </mfrac>
                    <mfenced id="corchete" open="(" close=")" separators="    ">
                        <mfrac id="fraccion">
                         <mi id="mi">1</mi>
                         <mi id="RC">R1</mi>
                        </mfrac>
                        <!-- xdxdxd-->
                        <mo id="signo">+</mo>
                        <mfrac id="fraccion">
                            <mi id="mi">1</mi>
                            <mi id="RC">R2</mi>
                           </mfrac>
                    </mfenced>   
                    <mfrac id="fraccion">
                        <mi id="mi">1</mi>
                        <mi id="RC">R1C2</mi>
                       </mfrac>
                    
                    <!-- CORCHETE-->
                       </mfenced>
                      
                      
                        
                      <mfenced  class="" id="corchete" open="[" close="]" separators="    ">
                        <mi id="mi">Vc1</mi>
                    </mfenced>
                    <mo>+</mo>
                    <mfenced id="ecuacion2" open="[" close="]" separators="    ">
                        
                        <!-- xdxdxd-->
                   
                        <mfrac id="fraccion">
                            <mi id="mi">1</mi>
                            <mi id="R1C1">R1C1</mi>
                           </mfrac>
                    </mfenced> 
                   
                        <mi>x</mi>
                

                      
                  </math>

                 
    
            </div>  
            <div class="flex flex-row content-center items-center justify-center">
                <math class="text-2xl" xmlns="http://www.w3.org/1998/Math/MathML">
                    <mfenced open="[" close="]" separators="    ">
                       
                        <mfrac>
                         <mi>dVc2</mi>
                         <mi>dt</mi>
                        </mfrac>
                        
                       </mfenced>
        <!--SEGUNDA ECUACIÓN-->
                    </mfenced>
                    <mo>=</mo>   
                    <mfenced id="ecuacion3" open="[" close="]" separators="    ">
                       
                    <mfrac id="fraccion">
                        <mi id="mi">1</mi>
                        <mi id="RC">R1C2</mi>
                    </mfrac>
                    <mo>-</mo> 
                    <mfrac id="fraccion">
                        <mi id="mi">1</mi>
                        <mi id="RC">R1C2</mi>
                       </mfrac>
                    
                    <!-- CORCHETE-->
                       </mfenced>
                      
                  
                        
                      <mfenced  class="" id="corchete" open="[" close="]" separators="    ">
                        <mi id="mi">Vc2</mi>
                    </mfenced>
                    <mo>+</mo>
                    <mfenced id="corchete" open="[" close="]" separators="    ">
                        
                        <!-- xdxdxd-->
                        <mi id="mi">0</mi>
                        
                    </mfenced> 
                    
                        <mi>x</mi>
                    

                      
                  </math>
            </div>  

            <div class="flex flex-row content-center items-center justify-center text-2xl ">
                <div class="flex flex-row">
                    <div>y=[-1 0]</div>
                    <div class="flex flex-row">
                        <p class="pt-2">[</p>
                       <div class="flex flex-col">
                        <p>Vc1</p>
                        <p>Vc2</p>
                       </div>
                        <p class="pt-2">]</p>
                    </div>
                    <div>+[1]x</div>
                </div>
            </div> 
            <h3 class="text-2xl font-black  uppercase">
                Valores a ingresar
            </h3>
            <div class="flex flex-col content-center items-center justify-center">
               
                <label for="r1">R1</label>
                <input id="r1" type="text" placeholder="VALOR R1">
                <label for="r2">R2</label>
                <input id="r2" type="text" placeholder="VALOR R2">
                <label for="c1">C1</label>
                <input id="c1" type="text" placeholder="VALOR C1">
                <label for="c2">C2</label>
                <input id="c2" type="text" placeholder="VALOR C2">
                <input id="resolverProblema" class=" text-indigo-100 transition-colors duration-150 bg-indigo-700 rounded-lg hover:bg-indigo-800 h-12 px-6 m-2 text-lg" type="button" value="Ejecutar problema 3">
            </div>
    </main>
    
       
    <script src="../scripts/problema3.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</body>
</html>